.movies-slider {
  padding-top: 10px;

  &__slider {
    .slick-list {
      padding-top: 35px;
      overflow: hidden;
    }

    .slick-track {
      display: flex;
    }
  }

  &__controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90px;
    max-width: 150px;
  }

  .heading {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
  }
}
