@import './viewport.scss';

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
}

html {
  background-color: var(--background-color);
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--text-main-color);
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  background: none;
  -webkit-appearance: none;

  &:disabled {
    opacity: 0.3;
    pointer-events: none;
  }
}

input {
  background-color: transparent;
  color: var(--text-main-color);

  &::placeholder {
    color: var(--text-light-color);
  }
}

.container {
  width: 100%;
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}

.logo {
  &__link {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--primary-color);
    font-size: 25px;
    font-weight: 800;
    font-family: 'Raleway', sans-serif;
  }
}

.heading {
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 800px;

  &__title {
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: var(--text-main-color);
  }

  &__sub-title {
    font-size: 28px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: var(--primary-color);
  }
}

.primary-color,
.primary-bg-color {
  color: var(--primary-color);
}

.liked-color {
  color: var(--liked-color);
}

@media only screen and (max-width: $mobile-viewport) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .page {
    padding-bottom: 0px;
  }

  .heading {
    padding-top: 20px;
    padding-bottom: 30px;

    &__title {
      font-size: 26px;
    }
  }
}
