.header {
  height: 100px;
  width: 100%;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
  }

  &__logo {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--primary-color);
    font-size: 25px;
    font-weight: 800;
    font-family: 'Raleway', sans-serif;
    margin-right: auto;
  }

  &__theme-btn {
    display: flex;
    align-items: center;
    padding-right: 15px;
  }

  &__theme-icon {
    font-size: 26px;
    padding-right: 8px;
  }
}
