@import '../../theme/variables.scss';

.favorites-page {
  &__block {
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
  }

  .search-bar {
    padding-top: 40px;
  }

  .movie-card {
    width: 25%;
  }
}

@media only screen and (max-width: $mobile-viewport) {
  .favorites-page {
    &__block {
      padding-top: 0px;
    }

    .movie-card {
      width: 100%;
    }
  }
}
